.bg-color{
  background: #433520;
  height: 1000px;
  width: 1000px;
  margin: auto;
}

.fg-color{
  background: #025955;
  height: 800px;
  width: 800px;
  margin: auto;
}

.main-color{
  background: #00917c;
  height: 400px;
  width: 400px;
  margin: auto;
}

.text-color{
  color: #fde8cd;
  margin: auto;
  margin-top: 20px;
}